FingernailProjection\venv\
venv/
.DS_Store
.huskyrc.json
out
log.log
**/node_modules
*.pyc
*.vsix
envVars.txt
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
python_files/lib/**
python_files/get-pip.py
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results*.xml
xunit-test-results.xml
build/ci/performance/performance-results.json
!build/
debug*.log
debugpy*.log
pydevd*.log
nodeLanguageServer/**
nodeLanguageServer.*/**
dist/**
# translation files
*.xlf
package.nls.*.json
l10n/
python-env-tools/**
# coverage files produced as test output
python_files/tests/*/.data/.coverage*
python_files/tests/*/.data/*/.coverage*
src/testTestingRootWkspc/coverageWorkspace/.coverage
Abstract/Yotsubato-Test.mp4
Abstract/Test.mp4
Abstract/Fingernail Projection 31.01.2025.pptx
Abstract/Recordings/DSC05655.JPG
Abstract/Recordings/DSC05656.JPG
Abstract/Recordings/DSC05657.JPG
Abstract/Recordings/DSC05658.JPG
Abstract/Recordings/DSC05659.JPG
Abstract/Recordings/DSC05660.JPG
Abstract/Recordings/DSC05661.JPG
Abstract/Recordings/DSC05662.JPG
Abstract/Recordings/DSC05663.JPG
Abstract/Recordings/DSC05664.JPG
Abstract/Recordings/DSC05665.JPG
Abstract/Recordings/DSC05666.JPG
Abstract/Recordings/DSC05667.JPG
Abstract/Recordings/DSC05668.JPG
Abstract/Recordings/DSC05669.JPG
Abstract/Recordings/DSC05670.JPG
Abstract/Recordings/DSC05671.JPG
Abstract/Recordings/DSC05672.JPG
Abstract/Recordings/DSC05673.JPG
Abstract/Recordings/DSC05674.JPG
Abstract/Recordings/DSC05675.JPG
Abstract/Recordings/DSC05676.JPG
Abstract/Recordings/DSC05677.JPG
Abstract/Recordings/DSC05678.JPG
Abstract/Recordings/DSC05679.JPG
Abstract/Recordings/DSC05680.JPG
Abstract/Recordings/DSC05681.JPG
Abstract/Recordings/DSC05682.JPG
Abstract/Recordings/DSC05683.JPG
Abstract/Recordings/DSC05684.JPG
Abstract/Recordings/DSC05685.JPG
Abstract/Recordings/DSC05686.JPG
Abstract/Recordings/DSC05687.JPG
Abstract/Recordings/DSC05688.JPG
Abstract/Recordings/DSC05689.JPG
Abstract/Recordings/DSC05690.JPG
Abstract/Recordings/DSC05691.JPG
Abstract/Recordings/CLIP/C0006.MP4
Abstract/Recordings/CLIP/C0006M01.XML
Abstract/Recordings/CLIP/C0007.MP4
Abstract/Recordings/CLIP/C0007M01.XML
Abstract/Recordings/CLIP/C0008.MP4
Abstract/Recordings/CLIP/C0008M01.XML
Abstract/Recordings/CLIP/C0009.MP4
Abstract/Recordings/CLIP/C0009M01.XML
Abstract/Recordings/CLIP/C0010.MP4
Abstract/Recordings/CLIP/C0010M01.XML
Abstract/Recordings/CLIP/C0011.MP4
Abstract/Recordings/CLIP/C0011M01.XML
Abstract/Recordings/CLIP/C0012.MP4
Abstract/Recordings/CLIP/C0012M01.XML
Abstract/Recordings/CLIP/C0013.MP4
Abstract/Recordings/CLIP/C0013M01.XML
Abstract/Recordings/CLIP/C0014.MP4
Abstract/Recordings/CLIP/C0014M01.XML
Abstract/Recordings/CLIP/C0015.MP4
Abstract/Recordings/CLIP/C0015M01.XML
Abstract/Recordings/CLIP/C0016.MP4
Abstract/Recordings/CLIP/C0016M01.XML
Abstract/Recordings/CLIP/C0017.MP4
Abstract/Recordings/CLIP/C0017M01.XML
Abstract/Recordings/CLIP/C0018.MP4
Abstract/Recordings/CLIP/C0018M01.XML
Abstract/Recordings/CLIP/C0019.MP4
Abstract/Recordings/CLIP/C0019M01.XML
Abstract/Recordings/raw/DSC05655.ARW
Abstract/Recordings/raw/DSC05656.ARW
Abstract/Recordings/raw/DSC05657.ARW
Abstract/Recordings/raw/DSC05658.ARW
Abstract/Recordings/raw/DSC05659.ARW
Abstract/Recordings/raw/DSC05660.ARW
Abstract/Recordings/raw/DSC05661.ARW
Abstract/Recordings/raw/DSC05662.ARW
Abstract/Recordings/raw/DSC05663.ARW
Abstract/Recordings/raw/DSC05664.ARW
Abstract/Recordings/raw/DSC05665.ARW
Abstract/Recordings/raw/DSC05666.ARW
Abstract/Recordings/raw/DSC05667.ARW
Abstract/Recordings/raw/DSC05668.ARW
Abstract/Recordings/raw/DSC05669.ARW
Abstract/Recordings/raw/DSC05670.ARW
Abstract/Recordings/raw/DSC05671.ARW
Abstract/Recordings/raw/DSC05672.ARW
Abstract/Recordings/raw/DSC05673.ARW
Abstract/Recordings/raw/DSC05674.ARW
Abstract/Recordings/raw/DSC05675.ARW
Abstract/Recordings/raw/DSC05676.ARW
Abstract/Recordings/raw/DSC05677.ARW
Abstract/Recordings/raw/DSC05678.ARW
Abstract/Recordings/raw/DSC05679.ARW
Abstract/Recordings/raw/DSC05680.ARW
Abstract/Recordings/raw/DSC05681.ARW
Abstract/Recordings/raw/DSC05682.ARW
Abstract/Recordings/raw/DSC05683.ARW
Abstract/Recordings/raw/DSC05684.ARW
Abstract/Recordings/raw/DSC05685.ARW
Abstract/Recordings/raw/DSC05686.ARW
Abstract/Recordings/raw/DSC05687.ARW
Abstract/Recordings/raw/DSC05688.ARW
Abstract/Recordings/raw/DSC05689.ARW
Abstract/Recordings/raw/DSC05690.ARW
Abstract/Recordings/raw/DSC05691.ARW
Abstract/~$Poster.pptx
Abstract/~$TranslationProjection.pptx
Doku/~$FingernailProjection.pptx
